.form {
  margin-top: 84px;
  margin-bottom: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-weight: 500;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--gray);
}

.labelText {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 8px;
}

.mileageInputs {
  display: flex;
  max-width: 320px;
  overflow: hidden;
  border-radius: 12px;
  height: 48px;
}

.textBox:first-child {
  border-right: 1px solid var(--gray);
}

.selectTextBox {
  position: absolute;
}

.mileageInput {
  margin-left: 4px;
  border: none;
  background-color: transparent;
  width: auto;
}

.textBox {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--main);
  line-height: 2;
  background-color: var(--inputs);
  padding-left: 24px;
  max-width: 160px;
}

.btn {
  border-radius: 12px;
  padding: 12px 51px;
  width: 156px;
  height: 46px;
  background-color: var(--button);
  color: var(--white);
  font-weight: 600;
  font-size: 16px;
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  align-self: last baseline;
}

.btn:hover {
  background-color: var(--button-hover);
}
