.container {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.header {
  height: auto;
  background-color: var(--badges);
  padding: 24px;
  width: 100%;
}

.navigation {
  display: none;
}

.navLink {
  color: var(--main);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navLink:active,
.navLink:hover {
  color: var(--button-hover);
}

.active {
  color: var(--button-hover);
}

@media (min-width: 768px) {
  .header {
    height: 68px;
    padding: 24px 80px;
  }
  .navigation {
    color: var(--main);
    display: flex;
    gap: 32px;
  }
}
