.title {
  font-size: 24px;
}
.accent {
  color: var(--button);
  transition: color 0.5s ease;
}

.accent:hover {
  color: var(--button-hover);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
